option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    memory_limit: 256M
    zlib.output_compression: On
    allow_url_fopen: On
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: "false"
  aws:autoscaling:launchconfiguration:
    EC2KeyName: ""
    InstanceType: t3.small
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    EnhancedHealthAuthEnabled: "true"

container_commands:
  01_composer_install:
    command: composer install --no-dev --optimize-autoloader
    leader_only: true
  02_laravel_migrate:
    command: php artisan migrate --force
    leader_only: true
  03_laravel_storage_link:
    command: php artisan storage:link
    ignoreErrors: true

commands:
  01_update_permissions:
    command: |
      find /var/app/current -type d -name "storage" -exec chmod -R 775 {} \;
      find /var/app/current -type d -name "bootstrap" -exec chmod -R 775 {} \;
      chown -R webapp:webapp /var/app/current/storage
      chown -R webapp:webapp /var/app/current/bootstrap/cache
