files:
  "/etc/httpd/conf.d/laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <Directory /var/app/current/public>
        <IfModule mod_rewrite.c>
          Options -MultiViews
          RewriteEngine On
          RewriteCond %{REQUEST_FILENAME} !-f
          RewriteRule ^ index.php [QSA,L]
        </IfModule>
      </Directory>
      
      SetEnvIf Request_URI "^/health" ELASTIC_BEANSTALK_HEALTH_CHECK=true
      
      <FilesMatch "\.php$">
        SetHandler "proxy:unix:/var/run/php-fpm.sock|fcgi://localhost"
      </FilesMatch>
